* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
*::-webkit-scrollbar {
  display: none; /* WebKit */
}

html {
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  height: 100vh;

}

ul li {
  list-style-type: none;
}

.pac-container {
  background-color: #fff;
  z-index: 10000;
  position: fixed;
  float: left;
}